.skills {
  margin: 0 2rem;
  background-color: rgb(255, 255, 255);
  color: black;
  overflow: hidden;
}
.language-container {
  display: flex;
  align-items: center;
  text-align: start;
  justify-content: space-evenly;

  > div {
    > div {
      display: flex;
      align-items: center;
      gap: 1.5rem;
      margin: 2rem 0;
      > img {
        width: 2.8rem;
      }
      > h3 {
        color: rgba(43, 43, 65, 0.8);
      }
    }
  }
}

#skills-dark {
  background-color: rgb(43, 41, 41);
  color: white;
  > div {
    > div {
      > div {
        > h3 {
          color: white;
        }
      }
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .skills {
    margin: 0 1.5rem;
    > h1 {
      font-size: 1.6rem;
    }
  }
  .language-container {
    > div {
      > div {
        > img {
          width: 1.9rem;
        }
        > h3 {
          font-size: 1rem;
        }
      }
    }
  }
}
@media screen and (min-width: 200px) and (max-width: 766px) {
  .language-container {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: start;
    gap: 0;
    margin-top: 3rem;

    > div {
      margin-top: -1.5rem;
      > div {
        margin: 1.5rem;
        > h3 {
          font-size: 1.1rem;
        }
      }
    }
  }
  .skills {
    margin: 0 1rem;
  }
}
